{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود به سایت</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
</head>
<body>
    <div class="container">
            <h1 class="container_title">
                سامانه جهنم
            </h1>

        <div>
            <form class="login_form" action="{% url 'members:login' %}" method="post">
                {% csrf_token %}
                <label class="label" for="username">نام کاربری:</label>
                <input type="text" id="username" name="username">

                <label class="label" for="password">رمز عبور:</label>
                <input type="password" id="password" name="password">

                <input type="submit" value="ورود" id="btn_submit">
            </form>
            <div class="helper">
                <h2 class="error">{{ error }}</h2>
                <h4><a class="links" href="{% url 'members:register' %}">ایجاد حساب جدید</a></h4>
                <h4><a class="links" href="#">رمز عبور خود را فراموش کرده ام</a></h4>
{#                <h4><a href="" class="links">بخش اساتید</a></h4>#}
            </div>
        </div>
    </div>
</body>
</html>