    *{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color:cornsilk;
}

.title{
    text-align: center;
}

a{
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid black;
    transition: all 2s;
}

.main_container{
    width: 100%;
    height: 96vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
}

/* right side including menu */ 

aside{
    width: 15%;
    height: 100%;
}

.side_menu{
    padding-top: 30px;
    width: 100%;
    /* border: 1px solid black; */
    
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    height:100% ;
    background-color: rgb(12, 230, 197);
    text-align: center;
}

.side_menu ul{
    list-style: none;
    padding-right: 0;    
}

.side_menu ul li{
    margin-top: 20px;
}

/* end of right side */
/* left side including header and container */

.side_left{
    width: 85%;
    height:100% ;
    border: 1px solid black;
}
 
    /* header */

.header{
    /* backdrop-filter: blur(4px); */
    height: 8%;
    background-color: rgb(177, 242, 12);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.header__menu{
    
    width: 40%;
    display: flex;
}

.header__menu ul{
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 100px;
}

.header__profile{
    /* border: 1px solid black; */
    width: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_picture{
    /* width: 95%; */
    height: 95%;
    border-radius: 200px;
    align-items: center;
}

.sub_menu{
    height: 5%;
    background-color: rgb(177, 242, 12);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

    /* end of header */

/* end of left side */
/*  */

.display_content{
    height: 90%;
    overflow: auto;
    padding: 20px;
    position: relative;
}

/*.display_content{*/
/*    height: 90%;*/
/*    overflow: auto;*/
/*    padding: 20px;*/
/*}*/

